---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { WEBSITE } from "@config";
import { Tooltips } from "astro-tooltips";

const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;

export interface Props {
  title?: string;
  author?: string;
  description?: string;
}

const {
  title = WEBSITE.title,
  author = WEBSITE.author,
  description = WEBSITE.desc,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <!-- <link rel="canonical" href={canonicalURL} /> -->
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    {
      // If PUBLIC_GOOGLE_SITE_VERIFICATION is set in the environment variable,
      // include google-site-verification tag in the heading
      // Learn more: https://support.google.com/webmasters/answer/9008080#meta_tag_verification&zippy=%2Chtml-tag
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
    }

    <Tooltips interactive={false} delay={[15, 150]} placement="top" />

    <!-- <script is:inline src="/toggle-theme.js"></script> -->
  </head>
  <body class="dark:bg-background bg-background-light font-mono min-h-screen">
    <Header />
    <div class="h-32"></div>
    <slot />
    <Footer />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
    <style is:global>
      html {
        scroll-behavior: smooth;
        overflow-y: scroll;
      }

      :target:before {
        content: "";
        display: block;
        height: 100px;
        margin: -100px 0 0 0;
      }

      /* ===== scrollbar ===== */
      /* width */
      ::-webkit-scrollbar {
        @apply w-3;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        @apply bg-transparent;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        @apply dark:bg-white/5 bg-black/20;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        @apply dark:bg-primary/30 bg-primary-light/50;
      }
    </style>
  </body>
</html>
